<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>AirBnB</title>

    <link rel="stylesheet" href="../static/styles/4-common.css" />
    <link rel="stylesheet" href="../static/styles/3-header.css" />
    <link rel="stylesheet" href="../static/styles/3-footer.css" />
    <link rel="stylesheet" href="../static/styles/6-filters.css" />
    <link rel="stylesheet" href="../static/styles/8-places.css" />
    <link rel="icon" type="images/png" href="../static/images/icon.png" />
</head>

<body>
    <header class="logo">
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>California, Arizona...</h4>
                <div class="popover">
                    <ul>
                        <li>
                            <h2>California</h2>
                            <ul>
                                <li>Tracy</li>
                                <li>Hayward</li>
                                <li>Los Angeles</li>
                            </ul>
                        </li>
                        <li>
                            <h2>Arizona</h2>
                            <ul>
                                <li>Sedona</li>
                                <li>Phoenix</li>
                                <li>Mesa</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>WIFI, kitchen...</h4>
                <ul class="popover">
                    <li>WIFI</li>
                    <li>Kitchen</li>
                    <li>Swimming pool</li>
                    <li>Bedroom</li>
                </ul>
            </div>
            <button type="button">Search</button>
        </section>



        <section class="places">
            <h1>Places</h1>
            <div class="articles">

                <article>
                    <h2>My home</h2>
                    <div class="price_by_night">
                        <p>$80</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>4 Guests</span></div>
                        <div class="number_rooms"><span>4 Bedrooms</span></div>
                        <div class="number_bathrooms"><span>2 Bathrooms</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Sophia Terry
                    </div>
                    <div class="description">
                        <p>
                            One of the highlights of our stay was exploring the picturesque neighborhood. The streets were lined with beautiful, historic homes, and we enjoyed taking leisurely strolls and admiring the architecture. The location was also convenient, with charming shops and restaurants just a short walk away.
                            ho<!DOCTYPE html>
                            <html lang="en">

                            <head>
                                <meta charset="UTF-8" />
                                <title>AirBnB</title>

                                <link rel="stylesheet" href="../static/styles/4-common.css" />
                                <link rel="stylesheet" href="../static/styles/3-header.css" />
                                <link rel="stylesheet" href="../static/styles/3-footer.css" />
                                <link rel="stylesheet" href="../static/styles/6-filters.css" />
                                <link rel="stylesheet" href="../static/styles/8-places.css" />
                                <link rel="icon" type="images/png" href="../static/images/icon.png" />
                            </head>

                            <body>
                                <header class="logo">
                                    <div class="logo"></div>
                                </header>
                                <div class="container">
                                    <section class="filters">
                                        <div class="locations">
                                            <h3>States</h3>
                                            <h4>California, Arizona...</h4>
                                            <div class="popover">
                                                <ul>
                                                    <li>
                                                        <h2>California</h2>
                                                        <ul>
                                                            <li>Tracy</li>
                                                            <li>Hayward</li>
                                                            <li>Los Angeles</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <h2>Arizona</h2>
                                                        <ul>
                                                            <li>Sedona</li>
                                                            <li>Phoenix</li>
                                                            <li>Mesa</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="amenities">
                                            <h3>Amenities</h3>
                                            <h4>WIFI, kitchen...</h4>
                                            <ul class="popover">
                                                <li>WIFI</li>
                                                <li>Kitchen</li>
                                                <li>Swimming pool</li>
                                                <li>Bedroom</li>
                                            </ul>
                                        </div>
                                        <button type="button">Search</button>
                                    </section>



                                    <section class="places">
                                        <h1>Places</h1>
                                        <div class="articles">

                                            <article>
                                                <h2>My home</h2>
                                                <div class="price_by_night">
                                                    <p>$80</p>
                                                </div>
                                                <div class="information">
                                                    <div class="max_guest"><span>4 Guests</span></div>
                                                    <div class="number_rooms"><span>4 Bedrooms</span></div>
                                                    <div class="number_bathrooms"><span>2 Bathrooms</span></div>
                                                </div>
                                                <div class="user">
                                                    <b>Owner:</b> Sophia Terry
                                                </div>
                                                <div class="description">
                                                    <p>
                                                        My recent stay at this Airbnb was an absolute delight! From the moment I arrived, I was captivated by the charm and character of the property. The attention to detail in the decor and furnishings created a warm and inviting atmosphere that made me feel right at home.

                                                        The location couldn't have been better.I had easy access to all the attractions and amenities I wanted to explore during my visit. Whether I was venturing out to sample local cuisine, visiting nearby landmarks, or simply taking a leisurely walk in the neighborhood, everything was conveniently within reach.
                                                    </p>
                                                    <p>Megan</p>
                                                    <p>Rating: ★★★★★</p>
                                                </div>
                                            </article>

                                            <article>
                                                <h2>Tiny house</h2>
                                                <div class="price_by_night">
                                                    <p>$50</p>
                                                </div>
                                                <div class="information">
                                                    <div class="max_guest"><span>1 Guests</span></div>
                                                    <div class="number_rooms"><span>1 Bedroom</span></div>
                                                    <div class="number_bathrooms"><span>1 Bathroom</span></div>
                                                </div>
                                                <div class="user">
                                                    <b>Owner:</b> Bella The Cat
                                                </div>
                                                <div class="description">
                                                    <p>
                                                        The accommodations themselves were impeccable. The space was exceptionally clean and well-maintained, and it was clear that the host had put thought into providing everything a guest might need for a comfortable stay. The fully equipped kitchen, cozy living room, comfortable bed were a true highlight and greatly enhanced my overall experience
                                                    </p>
                                                    <p>Bradley</p>
                                                    <p>Rating: ★★★★★</p>
                                                </div>
                                            </article>

                                            <article>
                                                <h2>A suite</h2>
                                                <div class="price_by_night">
                                                    <p>$150</p>
                                                </div>
                                                <div class="information">
                                                    <div class="max_guest"><span>6 Guests</span></div>
                                                    <div class="number_rooms"><span>4 Bedroom</span></div>
                                                    <div class="number_bathrooms"><span>4 Bathroom</span></div>
                                                </div>
                                                <div class="user">
                                                    <b>Owner:</b> Yu Fei
                                                </div>
                                                <div class="description">
                                                    <p>
                                                        I had the pleasure of staying at this city Airbnb, and it was an exceptional experience from start to finish.
                                                        The house itself was a true urban oasis. Upon entering, I was struck by its modern design and impeccable cleanliness. The open-concept layout made the space feel incredibly spacious and inviting. The bedrooms were comfortable, and the living area was the perfect spot to unwind after a day of city exploration.
                                                        What truly made my stay special were the moments spent in the backyard. Amidst the city's hustle and bustle, this tranquil outdoor space provided a serene retreat. Whether it was sipping morning coffee on the patio or unwinding with a glass of wine under the city lights, these moments will be etched in my memory.
                                                    </p>
                                                    <p>Emeka Samuel</p>
                                                    <p>Rating: ★★★★★</p>
                                                </div>
                                            </article>
                                        </div>
                                    </section>

                                </div>

                                <footer>Best School</footer>

                            </body>

                            </html>The host's attention to detail was evident in every aspect of my stay. They were responsive to my questions and provided clear instructions for check-in and check-out. Their local recommendations were invaluable, leading me to some fantastic dining and entertainment options.
                        </p>
                        <p>Jasmine K.</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>

                <article>
                    <h2>Tiny house</h2>
                    <div class="price_by_night">
                        <p>$50</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>1 Guests</span></div>
                        <div class="number_rooms"><span>1 Bedroom</span></div>
                        <div class="number_bathrooms"><span>1 Bathroom</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Bella The Cat
                    </div>
                    <div class="description">
                        <p>
                            What truly made my stay special were the moments spent in the backyard. Amidst the city's hustle and bustle, this tranquil outdoor space provided a serene retreat. Whether it was sipping morning coffee on the patio or unwinding with a glass of wine under the city lights, these moments will be etched in my memory.
                            In conclusion, I wholeheartedly recommend this city Airbnb to anyone seeking a fantastic urban experience. It seamlessly blends the convenience of city living with the comforts of home, thanks to the thoughtful host and the well-appointed house. I'm already looking forward to my next visit to this amazing spot in the heart of the city.
                        </p>
                        <p>Sansa</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>

                <article>
                    <h2>A suite</h2>
                    <div class="price_by_night">
                        <p>$150</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>6 Guests</span></div>
                        <div class="number_rooms"><span>4 Bedroom</span></div>
                        <div class="number_bathrooms"><span>4 Bathroom</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Yu Fei
                    </div>
                    <div class="description">
                        <p>
                            The house itself was a true urban oasis. Upon entering, I was struck by its modern design and impeccable cleanliness. The open-concept layout made the space feel incredibly spacious and inviting. The bedrooms were comfortable, and the living area was the perfect spot to unwind after a day of city exploration.
                        </p>
                        <p>Mark</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>
            </div>
        </section>

    </div>

    <footer>Best School</footer>

</body>

</html>
